* {
     /*border-box就是将border和padding数值包含在width和height之内，这样的好处就是修改border和padding数值盒子的大小不变。*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* 移除ul下所有li元素的列表项标记（即圆点） */
    list-style-type: none;
    /* list-style-type: upper-roman; */
    
}

a {
    
    text-decoration: none;
    background-color: transparent
}
 


/* 最常用的组合，确保主流浏览器兼容性：
为了确保在所有主流浏览器（如 Chrome、Safari、Firefox、Edge 和 IE）中隐藏滚动条的同时仍然保留滚动功能 */


/* 隐藏滚动条(页面择机启用滚动功能) */
html{
    -ms-overflow-style: none; /* 适用于 Internet Explorer 和旧版 Edge */
    scrollbar-width: none; /* 适用于 Firefox */
    -webkit-scrollbar:none;/* WebKit 内核浏览器（如 Chrome 和 Safari）中的滚动条*/ 
   }


/* Webkit 浏览器 */ /* 如果不加html，那么就会使所有的内容都会隐藏滚动条 (或者写在html类中)*/
/* ::-webkit-scrollbar{
    display: none; 
} */


/* 解释：
overflow: auto;: 启用滚动功能，适用于所有浏览器。
-ms-overflow-style: none;: 隐藏 Internet Explorer 和旧版 Edge 浏览器中的滚动条。
scrollbar-width: none;: 隐藏 Firefox 浏览器中的滚动条。
::-webkit-scrollbar { display: none; }: 隐藏 WebKit 内核浏览器（如 Chrome 和 Safari）中的滚动条。 */


/* 暗色主题 */
html[data-theme='dark'] {
    --bg: rgba(10, 10, 10, 0.98);
    --order: #252525;
    --slide: #1a1a1a;
    --card_bg: #141414;
    --card_boder: #303030;
    --slide_sub_bg: #2f2f2f;
    --slide_bg: #282828;
    --h2: #b7b7b7;
    --bg_darken: #0c1e23;
    --chat_text_bg: #020202;
    --chat_text_out_bg: #06111b;
    --text: #fff;
    --card_bg: #fff;
    --primary:#fff;

   

    --side_bar_bg:hsla(0, 0%, 100%, 0.04);
    --side_bar_active_bg:hsla(0, 0%, 100%, 0.04);
    --vui_carousel_bg:#fff;
    --blue:#4298e7;
    --floating_btn_box_shadow_one:rgba(0, 0, 0, 1);
    --floating_btn_box_shadow_two:white;

    --floating_btn_box_shadow_three:rgba(0, 0, 0, 1);

    --floating_btn_box_shadow_four:rgba(255, 255, 255, 0.1);
   
    --website-count-info_thead:#111;
    --website-count-info_td_th:rgba(218,218,218,.2);
    --text-light-dark:#000;
    --borderWidth-thin: max(1px, 0.0625rem);
   
    --borderColor-default: #d1d9e0;

    --color-border: hsla(0,0%,100%,0.08);
    --elevation-low-shadow: 0 2px 8px 0 rgba(0,0,0,0.04),0 1px 2px 0 rgba(0,0,0,0.02),0 0 0 1px hsla(0,0%,100%,0.04) inset;

    --elevation-low-background: #121212;
    --color-secondary-label: hsla(0,0%,100%,0.8);
    --color-background: #0a0a0a;
    
    --color-active-background: hsla(0, 0%, 100%, 0.04);
    --color-primary-label: #fff;
    --match-keyword:#ffffff;
    --color-no-match-keyword: hsla(0,0%,100%,0.6);
    --color-article-detail-code: hsla(0,0%,100%,0.6);
}




/* 默认 亮色主题*/
:root{
    --color-border: rgba(0,0,0,0.08);
    --elevation-low-shadow: 0 2px 8px 0 rgba(0,0,0,0.04),0 1px 2px 0 rgba(0,0,0,0.02);
    --elevation-low-background: #fff;
    --color-secondary-label: rgba(51,51,51,0.8);
    --color-background: #fff;

    --color-primary-label: #333;

    --color-active-background: rgba(0, 0, 0, 0.03);
    
    --color-no-match-keyword: rgba(51,51,51,0.6);
    
    --color-article-detail-code: rgba(0, 0, 0, 0.1);

    --bg: #fff;
    --primary:#333;
    --card_bg: white;
    --order: #f0eeee;
    --slide: #2b3539;
    --card_boder: #e2e2e2;
    --slide_sub_bg: #465257;
    --slide_bg: #2e393d;
    --h2: #333333;
    --bg_darken: #e2e2e2;
    --chat_text_bg: #e2e2e2;
    --chat_text_out_bg: #d9e4ee;
    --active: #2184fc;
    --text: #333;
    --mask-paper: hsla(0, 0%, 100%, 0.98);
    --card_bg: #fff;
    --match-keyword:#333333;

    --side_bar_bg:hsla(0, 0%, 100%, 0.03);
    --side_bar_active_bg:rgba(0, 0, 0, 0.03);
    --vui_carousel_bg:#fff;
    --blue:#4298e7;

    --floating_btn_box_shadow_one:rgba(0, 0, 0, 0.2);
    --floating_btn_box_shadow_two:white;

    --floating_btn_box_shadow_three:rgba(0, 0, 0, 0.1);

    --floating_btn_box_shadow_four:rgba(255, 255, 255, 1);

    --website-count-info_thead:#efefee;
    --website-count-info_td_th:rgba(218,218,218,1);
    --text-light-dark:#fff;
    --borderWidth-thin: max(1px, 0.0625rem);
   
    --borderColor-default: #d1d9e0;



}




html[data-theme='dark'] body {
    margin: 0;
    padding: 0;
    color: #fff;
    /* font-family 可以把多个字体名称作为一个“回退”系统来保存。如果浏览器不支持第一个字体，则会尝试下一个。
    也就是说，font-family 属性的值是用于某个元素的字体族名称或/及类族名称的一个优先表。浏览器会使用它可识别的第一个值。 */
    /* font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji"; */
    background-color: #000;
}
